.upload__container {
  width: 100%;
  .upload__video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    video {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
