header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: $red;
    font-size: 38px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
