doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            if fakeUser.loggedIn
                small Hello #{fakeUser.username}
            nav

                ul
                    if fakeUser.loggedIn
                        li 
                            a(href="/logout") Log out
                    else
                        li 
                            a(href="/login") Login
            h1=pageTitle
        main
            block content
    include partials/footer.pug