extends base


block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Name", name="name", type="text", required)
        input(placeholder="Email", name="email", type="email", required)
        input(placeholder="Username", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(placeholder="Confirm Password", name="password2", type="password", required)
        input(placeholder="Location", name="location", type="text", required)
        input(type="submit", value="Join")
        include partials/social-login
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;