extends base.pug
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search by title",name="keyword", type="text")
        input(type="submit", value="Search now")

    div
        each video in videos 
            +video(video)