extends base.pug

block content
    form(method="POST", action="/videos/upload")
        input(placeholder="Title", required, type="text", name="title")
        input(type="submit", value="Upload Video")