header
    a(href="/").header__logo
        i.fab.fa-youtube
    nav
        ul
            li
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout")  Log Out
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span 😀
                        else
                            img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else
                li
                    a(href="/login")  Login                        
                li
                    a(href="/join").header__btn  Join
            
