header
    a(href="/")
        i.fab.fa-youtube
    nav
        ul
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href=`/users/${loggedInUser._id}`) My Profile
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout")  Log Out
            else
                li
                    a(href="/join")  Join
                li
                    a(href="/login")  Login                        
            li
                a(href="/search") Search
