extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="post")
        input(placeholder="Old Password",type="password", name="oldPassword")
        input(placeholder="New Password",type="password", name="newPassword")
        input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
        input(value="Change Password", type="submit")